.my_brand {
    padding-top: 1px;
}
.answers{
    padding: 5px;
}
.validationMessage{
    color: #5cb85c;
}
.doneBtn{
    margin-top: 20px;
}
.navigacija{
    width: 95%;
}
textarea {
    resize: none;
}

.correct {
    color: lawngreen;
}
.uncorrect {
    color: red;
}
