<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Dodijeli kviz korisniku</h3>
    </div>
    <form name="usernameInputForm" role="form" class="form" novalidate ng-submit="usernameInputForm.$valid && saveAssignedQuiz()" >
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Unesite korisnicko ime" ng-model="username" ng-minlength="4" required/>
            </div>
            <span ng-show="usernameInputForm.$submitted && usernameInputForm.username.$error.required" class="validationMessage"><h6>Polje ne smije biti prazno</h6></span>
            <span ng-show="usernameInputForm.$submitted && usernameInputForm.username.$error.minlength" class="validationMessage"><h6>Korisničko ime je prekratko</h6></span>
            <div class="modal-footer">
                <input type="submit" id="submit" value="Spremi" class="btn btn-success"/>
            </div>
        </div>
    </form>

</div>