<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kvizovi</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead>
            <th>Korisnik</th>
            <th>Korisnicko ime</th>
            <th>Kategorija</th>
            <th>Dodaj</th>
            <th>Obrisi</th>
            </thead>

            <tr dir-paginate="quiz in quizzes | itemsPerPage:10">
                <td>{{quiz.user.first_name}} {{quiz.user.last_name}}</td>
                <td>{{quiz.user.username}}</td>
                <td>{{quiz.category.category_name}}</td>
                <td><a href="#" ng-click="addQuizToUserModal(quiz)"><span class="glyphicon glyphicon-plus"></span></a></td>
                <td><a href="#" ng-click="removeQuiz(quiz)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>
