<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Meni</a></li>
                    <li><a href="#" ng-click="createQuizModal()"><span class="glyphicon glyphicon-plus-sign"></span>  Dodaj kviz</a></li>
                    <li><a href="#" ng-click="createCategoryModal()"><span class="glyphicon glyphicon-plus-sign"></span>  Dodaj kategoriju</a></li>
                    <li><a href="#" ng-click="createUserModal()"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj korisnika</a></li>
                    <li><a ui-sref="adminHome.usersList"><span class="glyphicon glyphicon-user"></span>  Pregled korisnika</a></li>
                    <li><a ui-sref="adminHome.quizzesList"><span class="glyphicon glyphicon-list"></span>  Pregled kvizova</a></li>
                    <li><a ui-sref="adminHome.savedQuizzes"><span class="glyphicon glyphicon-list"></span>  Rješeni kvizovi</a></li>
                    <li><a ui-sref="adminHome.categories"><span class="glyphicon glyphicon-list"></span>  Pregled kategorija</a></li>
                </ul>
        </div>
        <div>
            <div class="col col-md-7">

                <div ui-view></div>

            </div>
        </div>
        <div class="col col-md-3">
            <div flash-alert="success" active-class="in" class="alert fade">
                <span class="alert-message">{{flash.message}}</span>
            </div>
            <div flash-alert="error" active-class="in" class="alert fade">
                <span class="alert-message">{{flash.message}}</span>
            </div>
        </div>
    </div>

</div>