<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kategorije</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead>
            <th>Naziv</th>
            <th>Uredi</th>
            <th>Obrisi</th>
            </thead>

            <tr dir-paginate="category in categories | itemsPerPage: 10">
                <td>{{category.category_name}}</td>
                <td><a href="" ng-click="updateCategory(category)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="#" ng-click="deleteCategory(category)"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>



