<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Promjena lozinke</h3>
    </div>
    <form class="form" novalidate ng-submit="changePassForm.$valid && savePass()" name="changePassForm">
    <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Stara lozinka</label>
                <input type="password" class="form-control" ng-model="user.oldPassword" name="oldPassword" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Nova lozinka</label>
                <input type="password" class="form-control" ng-model="user.password" name="newPassword" required ng-minlength="5"/>
                <span ng-show="changePassForm.$submitted && changePassForm.newPassword.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                <span ng-show="changePassForm.$submitted && changePassForm.newPassword.$error.minlength" class="validationMessage">Lozinka prekratka</span>
            </div>
            <div class="form-group">
                <label class="control-label">Potvrda nove lozinke</label>
                <input type="password" class="form-control" ng-model="password_conf" name="pass_conf"/>
                <span ng-show="changePassForm.$submitted && changePassForm.pass_conf.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                <span ng-if="user.password != password_conf" class="validationMessage">Lozinka i potvrda se ne poklapaju</span>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" ng-disabled="match">Spremi</button>
    </div>
    </form>
</div>