<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Novi kviz</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" type="none">
            <li  ng-repeat="question in questions"><h4> {{$index+1}}.{{question.question_text}}</h4>
                <div class="answers">
                    <ul  type="none">
                        <li ng-repeat="answer in question.answers" ><input type="checkbox" ng-model="answer.correct" ng-checked="answer.correct" ng-change="answerUpdate(answer)"/>  {{answer.answer_text}}
                            <a href="#" ng-click="removeAnswer(answer)"><span class="glyphicon glyphicon-remove"></span></a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="form-inline" novalidate name="questionInputForm" ng-submit="questionInputForm.$valid && saveQuestion()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Unesite novo pitanje" ng-model="newQuestion" ng-show="visible" ng-minlength="15" required name="question"/>
                <span ng-show="questionInputForm.$submitted && questionInputForm.question.$error.required && visible" class="validationMessage"><h6>Polje ne smije biti prazno</h6></span>
                <span ng-show="questionInputForm.$submitted && questionInputForm.question.$error.minlength && visible" class="validationMessage"><h6>Pitanje je prekratko</h6></span>
                <button class="btn btn-primary" ng-show="visible" type="submit">Spremi</button>
            </div>
        </form>
        <form class="form-inline" novalidate name="answerInputForm" ng-submit="answerInputForm.$valid && saveAnswer()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Unesite novi odgovor" ng-model="newAnswer" ng-hide="visible" ng-minlength="5" required name="answer"/>
                <span ng-show="answerInputForm.$submitted && answerInputForm.answer.$error.required && !visible" class="validationMessage"><h6>Polje ne smije biti prazno</h6></span>
                <span ng-show="answerInputForm.$submitted && answerInputForm.answer.$error.minlength && !visible" class="validationMessage"><h6>Odgovor je prekratak</h6></span>
                <button class="btn btn-primary" ng-hide="visible" type="submit">Spremi</button>
                <button class="btn btn-success" ng-hide="visible" ng-click="createNewQuestion()" ng-disabled="questionBtn">Novo pitanje</button>
            </div>
        </form>


        <a ui-sref="adminHome.quizzesList" type="button" class="btn btn-success doneBtn">Završi</a>
    </div>
</div>

