<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Dodaj novog korisnika</h3>
    </div>
    <form class="form-horizontal" name="userInputForm" novalidate ng-submit="userInputForm.$valid && saveNewUser()">
        <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Ime </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Ime" ng-model="user.first_name" required ng-minlength="3" name="firstName"/>
                        <span ng-show="userInputForm.$submitted && userInputForm.firstName.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                        <span ng-show="userInputForm.$submitted && userInputForm.firstName.$error.minlength" class="validationMessage">Ime je prekratko</span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-4 control-label">Prezime </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Prezime" ng-model="user.last_name" name="lastName" required ng-minlength="4"/>
                        <span ng-show="userInputForm.$submitted && userInputForm.lastName.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                        <span ng-show="userInputForm.$submitted && userInputForm.lastName.$error.minlength" class="validationMessage">Prezime je prekratko</span>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label">Broj indeksa </label>-->
                    <!--<div class="col-sm-8">-->
                        <!--<input class="form-control" type="text" placeholder="Broj indeksa" ng-model="index_number" name="indexNumber" required ng-pattern="/^(0|[1-9][0-9]*)$/"/>-->
                        <!--<span ng-show="userInputForm.$submitted && userInputForm.indexNumber.$error.required" class="validationMessage">Polje ne smije biti prazno</span>-->
                        <!--<span ng-show="userInputForm.$submitted && userInputForm.indexNumber.$error.pattern" class="validationMessage">Unesite validan broj indeksa</span>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-4 control-label">Email </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="email" placeholder="E-mail" ng-model = "user.email" name="email" required/>
                        <span ng-show="userInputForm.$submitted && userInputForm.email.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                        <span ng-show="userInputForm.$submitted && userInputForm.email.$error.email" class="validationMessage">Unesite validan e-mail</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Korisničko ime </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" placeholder="Korisničko ime" ng-model="user.username" name="username" ng-minlength="4" required/>
                        <span ng-show="userInputForm.$submitted && userInputForm.username.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                        <span ng-show="userInputForm.$submitted && userInputForm.username.$error.minlength" class="validationMessage">Korisničko ime je prekratko</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Lozinka </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" placeholder="Lozinka" ng-model="user.password" required ng-minlength="4" name="password"/>
                        <span ng-show="userInputForm.$submitted && userInputForm.password.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                        <span ng-show="userInputForm.$submitted && userInputForm.password.$error.minlength" class="validationMessage">Lozinka je prekratka</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-sm-offset-1 control-label">Admin</label>
                    <div class="col-sm-8">
                            <input type="checkbox" ng-checked="isAdmin"/>
                    </div>
                </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit">Spremi</button>
            </div>
        </div>
    </form>

</div>