<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Kreiraj novi kviz</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <select class="form-control" ng-init="selectedCategory = categories[0].id" ng-model="selectedCategory" ng-options="categories.id as categories.category_name for categories in categories">
            </select>
        </div>
        <div class="form-group">
            <input type="checkbox" class="from-control" ng-model="isChecked"/> <h7>Kviz sa ponuđenim odgovorima</h7>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="saveQuiz()">Spremi</button>
    </div>
</div>