<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Kreiraj novu kategoriju</h3>
    </div>
    <form name="categoryInputForm" novalidate ng-submit="categoryInputForm.$valid && saveCategory()">
        <div class="modal-body">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Unesite ime kateogrije" ng-model="category.category_name" required ng-minlength="5"/>
                <span ng-show="categoryInputForm.$submitted && categoryInputForm.category.$error.required" class="validationMessage">Polje ne smije biti prazno</span>
                <span ng-show="categoryInputForm.$submitted && categoryInputForm.category.$error.minlength" class="validationMessage">Kategorija je prekratka</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Spremi</button>
        </div>
    </form>
</div>