<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Novi kviz</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" type="none">
            <li  ng-repeat="question in questions"><h4> {{$index+1}}.{{question.question_text}}</h4>
                <div class="answers">
                    <ul type="none">
                        <li>
                            <textarea class="form-control" name="" id="" cols="100" rows="5" ></textarea>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <form class="form-inline" novalidate name="questionInputForm" ng-submit="questionInputForm.$valid && saveQuestion()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Unesite novo pitanje" ng-model="newQuestion" ng-minlength="15" required name="question"/>
                <span ng-show="questionInputForm.$submitted && questionInputForm.question.$error.required && visible" class="validationMessage"><h6>Polje ne smije biti prazno</h6></span>
                <span ng-show="questionInputForm.$submitted && questionInputForm.question.$error.minlength && visible" class="validationMessage"><h6>Pitanje je prekratko</h6></span>
                <button class="btn btn-primary" type="submit">Spremi</button>
            </div>
        </form>


        <a ui-sref="adminHome.quizzesList" type="button" class="btn btn-success doneBtn">Završi</a>
    </div>
</div>

