<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kvizovi</h3>
    </div>
    <div class="panel-body">
        <div class="col col-md-12">
            <div class="list-group">
                <button class="list-group-item" ng-repeat="quiz in quizzes | filter:{active:true} as activeQuizzes" ng-click="showQuiz(quiz)">
                    {{quiz.quiz.category.category_name}}
                </button>
                <h3 ng-if="activeQuizzes.length === 0" style="color: blueviolet">Trenutno nemate aktivnih kvizova</h3></li>
            </div>
        </div>
    </div>
</div>