<div class="row">
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="text-center">Prijavite se</h5>
                <form name="loginForm" class="form form-signup" role="form" novalidate ng-submit="loginForm.$valid && logUser()" >
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input ng-model="user.username" name="email" type="text" class="form-control" placeholder="Korisničko ime" required />
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.email.$error.required" class="validationMessage"><h6>Unesite korisničko ime</h6></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </span>
                            <input ng-model="user.password" name="password"  type="password" class="form-control" placeholder="Lozinka"  required/>
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.password.$error.required" class="validationMessage"><h6>Unesite lozinku</h6></span>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Prijava"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col col-md-offset-3 col-md-6">
        <div flash-alert="error" active-class="in" class="alert fade">
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>