<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kviz iz {{category}}</h3>
    </div>
    <div class="panel-body">
        <div class="text-center"><h4>{{countDownLeft | secondsToMinutes}}</h4></div>
        <div ng-repeat="question in questions">
            <h4>{{$index + 1}}.{{question.question_text}} </h4>
            <ul class="list-group">
                <li ng-repeat="answer in question.answers" class="list-unstyled" >
                    <div>
                        <input ng-model="answer.isChecked"
                               type="checkbox"/>
                        {{answer.answer_text}}
                    </div>
                </li>
            </ul>
            <hr/>
        </div>
        <button ng-click="finishQuiz()" class="btn btn-primary">Zavrsi</button>
    </div>

</div>