<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Rješeni kvizovi</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead>
            <th>Korisnik</th>
            <th>Korisnicko ime</th>
            <th>Kategorija</th>
            <th>Rezultat</th>
            </thead>

            <tr style="cursor: pointer" dir-paginate="savedQuiz in quizzes | itemsPerPage:10" ng-click="showSavedQuiz(savedQuiz)">
                <td>{{savedQuiz.user.first_name}} {{savedQuiz.user.last_name}}</td>
                <td>{{savedQuiz.user.username}}</td>
                <td>{{savedQuiz.quiz.category.category_name}}</td>
                <td ng-if="savedQuiz.score != null">{{savedQuiz.score}} %</td>
                <td ng-if="savedQuiz.score == null">Kviz nije pregledan</td>

            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>
