<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> Kviz iz {{ category }}</h3>
    </div>
    <div class="panel-body">
        <div ng-if="type == 'select'">
            <div ng-repeat="question in questions">
                <h4>{{$index + 1}}.{{question.question_text}} </h4>
                <ul class="list-group">
                    <li ng-repeat="answer in question.answers" class="list-unstyled" >
                        <div>
                            <fieldset ng-disabled="true">
                                <input type="checkbox" ng-checked="answer.isChecked"/>
                                {{answer.answer_text}} <i ng-if="answer.correct" class="fa fa-thumbs-up correct"></i><i ng-if="!answer.correct && answer.isChecked" class="fa fa-thumbs-down uncorrect"></i>
                            </fieldset>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-if="type == 'input'">
            <div ng-repeat="question in questions">
                <h4>{{$index + 1}}.{{question.question_text}} </h4>
                <ul class="list-group">
                    <textarea ng-disabled="true" name="" id="" cols="100" rows="5" class="form-control" ng-model="question.answers.users_answer"></textarea>
                    <br/>
                    <input type="text" placeholder="Postotak tačnosti" class="form-control" ng-model="degreeOfAccuracy[$index]" style="width: 150px"/>
                </ul>
                <hr/>
            </div>
            <button class="btn btn-success" ng-click="grade()">Spremi</button>
        </div>
    </div>
</div>


