<div class="container-fluid">
    <div class="modal-header">
        <h3 class="text-center">Rezultat</h3>
    </div>
    <div class="modal-body">
        <h3 class="text-center">Odradjeni kviz je {{ result }} % tacan</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeShowResultModal()">Zatvori</button>
    </div>
</div>