<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Korisnici</h3>
    </div>
    <div class="panel-body">
            <table class="table table-hover table-responsive">
                <thead>
                <th>Korisnik</th>
                <th>E-mail</th>
                <th>Korisnicko ime</th>
                <th>Uredi</th>
                <th>Obrisi</th>
                </thead>

                <tr dir-paginate="user in users | itemsPerPage: 10 | filter: {role: '!admin'}">
                    <td>{{user.first_name}} {{ user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    <td><a href="" ng-click="updateUserModal(user)"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a href="#" ng-click="removeUser(user)"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>



