<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kviz iz {{quiz.category.category_name}}</h3>
    </div>
    <div class="panel-body">
        <div class="text-center"><h4>{{countDownLeft | secondsToMinutes}}</h4></div>
        <ul class="list-group" type="none">
            <li  ng-repeat="question in questions"><h4> {{$index+1}}.{{question.question_text}}</h4>
                <div class="answers">
                    <ul type="none">
                        <li>
                            <textarea class="form-control" ng-model="question.answer" name="" id="" cols="100" rows="5" ></textarea>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    <button class="btn btn-success" ng-click="finishQuiz()">Završi</button>
    </div>
</div>
