<div class="container-fluid">
    <div class="row">
        <div class="col col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Meni</a></li>
                <li><a href="#" ui-sref="userHome.profile"><i class="fa fa-user"></i> Profil</a></li>
                <li><a href="#" ui-sref="userHome.listOfQuizzes"><i class="fa fa-question"></i> Kvizovi</a></li>
                <li><a href="#" ui-sref="userHome.results"><i class="fa fa-list-alt"></i> Moji rezultati</a></li>
                <!--<li><a href="#" ng-click="changePasswordModal()"><span class="glyphicon glyphicon-lock"></span> Promjeni lozinku</a></li>-->
            </ul>
        </div>
        <div>
            <div class="col col-md-7">

                <div ui-view></div>

            </div>

            <div class="col col-md-3">
                <div flash-alert="success" active-class="in" class="alert fade">
                    <span class="alert-message">{{flash.message}}</span>
                </div>
                <div flash-alert="error" active-class="in" class="alert fade">
                    <span class="alert-message">{{flash.message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


