<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Korisnički podaci</h3>
    </div>
    <div class="panel-body">
        <strong>Ime:</strong>  {{ user.first_name }} <br/>
        <strong>Prezime:</strong>  {{ user.last_name }} <br/>
        <strong>E-mail:</strong>  {{ user.email }} <br/>
        <strong>Korisničko ime:</strong>  {{ user.username }} <br/>
    </div>
</div>