<div class="panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Moji rezultati</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead>
            <th>Korisnik</th>
            <th>Kategorija</th>
            <th>Rezultat</th>
            </thead>

            <tr dir-paginate="result in results | itemsPerPage: 10 ">
                <td>{{result.user.first_name}} {{ result.user.last_name}}</td>
                <td>{{result.quiz.category.category_name}}</td>
                <td ng-if="result.score != null">{{result.score}} %</td>
                <td ng-if="result.score == null">Kviz nije pregledan</td>
            </tr>
        </table>
        <div class="text-center">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
</div>